.about-section {
    position: relative;
    min-height: 100vh;
    background: transparent;
    color: white;
    padding: 80px 10% 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 18px;
    z-index: 5;
}

/* Headings */
.about-title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 40px;
}

.about-section h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;

}

.about-subtitle {
    margin-top: 100px;
    font-size: 30px;
    color: #3b82f6;
    margin-bottom: 40px;
    text-align: center;}

/* Text */
.about-points {
  list-style: none;
  max-width: 900px;
  margin: 0 auto 60px;
  padding: 0;
}

.about-points li {
  position: relative;
  padding-left: 28px;
  margin-bottom: 18px;

  color: #cbd5f5;
  font-size: 16px;
  line-height: 1.7;
}

/* Custom glowing bullet */
.about-points li::before {
  content: "▹";
  position: absolute;
  left: 0;
  top: 0;

  color: #3b82f6;
  font-size: 18px;
}

.about-section p {
    color: #cbd5f5;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    /* align-self: flex-start; */
}

/* Education Timeline */

.edu-timeline {
    margin: 50px auto;
    max-width: 600px;

    display: flex;
    justify-content: center;   /* 👈 centers edu-item */
}

/* Education Card */
.edu-item {
    width: 100%;
    max-width: 520px;          /* 👈 visual balance */

    border-left: 3px solid #3b82f6;
    padding-left: 20px;
    text-align: left;
}

.edu-item span {
    color: #09e84c;
    font-size: 14px;
}

.edu-item h3 {
    margin: 8px 0;
    font-size: 18px;
}

/* Coding Profiles */

.coding-profiles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 40px;
    margin: 0 auto;
    margin-bottom: 100px;
    /* align-self: flex-start; */
    max-width: 700px;
}

.profile-card {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 15px;

    border-radius: 12px;
    border: 1px solid #1e293b;

    background: #020617;
    color: white;
    text-decoration: none;

    transition: all 0.3s ease;
}

.profile-card:hover {
    transform: translateY(-5px) scale(1.05);
    border-color: #3b82f6;

    box-shadow: 0 0 15px rgba(59, 130, 246, 0.4);
}

.profile-card svg {
    color: #22c55e;
}

.profile-card h4 {
    margin: 0;
    font-size: 16px;
}

.profile-card p {
    margin: 0;
    font-size: 13px;
    color: #cbd5f5;
}

/* Mobile */

@media (max-width: 768px) {
    .about-section {
        padding: 90px 6% 30px;
    }
}