.projects-section {
  position: relative;

  min-height: 100vh;
  /* background: #020617; */
  color: white;

  padding: 100px 10% 40px;
}

.projects-section h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 40px;
}

/* Grid */

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* Card */

.project-card {
  background: #020617;
  border: 1px solid #1e293b;

  padding: 25px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  transition: all 0.3s ease;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: #3b82f6;

  box-shadow: 0 0 25px rgba(59, 130, 246, 0.4);
}

/* Title */

.project-card h2 {
  font-size: 20px;
}

/* Tech */

.project-tech {
  color: #22c55e;
  font-size: 14px;
  font-weight: 600;
}

/* Description */

.project-desc {
  padding-left: 18px;
  color: #cbd5f5;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

/* Links */

.project-links {
  margin-top: auto;

  display: flex;
  gap: 15px;
}

.project-links a {
  padding: 8px 14px;
  border-radius: 20px;

  border: 1px solid #3b82f6;
  color: #3b82f6;

  text-decoration: none;
  font-size: 13px;
  font-weight: 600;

  transition: all 0.3s ease;
}

.project-links a:hover {
  background: #3b82f6;
  color: black;
  transform: scale(1.1);
}

/* Mobile */

@media (max-width: 768px) {
  .projects-section {
    padding: 90px 6% 30px;
  }
}
